<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        Mapa Clientes
      </nb-card-header>
      <nb-card-body>
        <agm-map [latitude]="_lat" [longitude]="_lng" [zoom]="_zoom">
          <agm-marker
            *ngFor="let cliente of _clientes"
            [latitude]="cliente?.ubicacion?.latitud"
            [longitude]="cliente?.ubicacion?.longitud"
            [label]="cliente?._id">
          </agm-marker>
        </agm-map>
      </nb-card-body>
    </nb-card>
  </div>
</div>

